nav{
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}
.nav-item a{
	position: relative;
}
.nav-item a:before {
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--bs-primary);
    transition: .4s all ease-in-out;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.nav-item a:hover:before {
    width: 70%;
}
